[Desktop Entry]
Type=Application
Name=Ship of Harkinian
Comment=Enough! My ship sails in the morning!
Icon=shipofharkinian
Exec=soh
Categories=Game;AdventureGame
